In [1]:
# ANS 1:
# Label Encoding
# Label Encoding assigns a unique integer value to each category in a categorical variable, 
# without considering any specific order or ranking. 
# Each category is encoded independently of the others.
# for example we have different colours like red,blue,green,yellow
# each will assigned a particular integer value

# Ordinal Encoding
# Ordinal Encoding assigns a unique integer value to each category in a categorical variable, based on their order or ranking. 
# It is suitable when there is an inherent order or hierarchy among the categories.
# for example we have  sizes features like small,medium ,large
# integer value will be assigned according to their sizes of their hierarchy

In [2]:
# ANS 1:
# Target Guided Ordinal Encoding
# # It is a technique used to encode categorical variables based on their relationship with the target variable. 
# This encoding technique is useful when we have a categorical variable with a large number of unique categories, 
# and we want to use this variable as a feature in our machine learning model.
# we replace each category in the categorical variable with a 
# numerical value based on the mean or median of the target variable for that category

# for example
# # It is project that involves predicting customer churn for a telecommunications company.
# we have 5 features, including the customer's gender, age, contract type, monthly charges, and tenure.

# # steps
# 1. calculate the mean price  of each city
# mean_price = df.groupby('montly_charges')['age'].mean()

# 2. replace each city with mean price and map to original dataset
# df['encoded_age']=df['age'].map(mean_price)
# in this we can convert

In [4]:
# ANS 3 :
# covariance
# covariance measures the two variables .
# It basically measures how much  value is deviated w.r.t to mean of one variable  associated with  deviation w.r.t mean of other variable
# A positive covariance indicates that the variables tend to move in the same direction, 
# while a negative covariance indicates that the variables tend to move in opposite directions. 

# It is very impoertant in statistical analysis as it quantiphy the relationship between feature x and
# feature y

# Cov(X, Y) = Σ[(X - μX) * (Y - μY)] / (n - 1)

In [5]:
# ANS 4 :
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import seaborn as sns 
import numpy as np

In [27]:
df = pd.DataFrame({
                    'color':["red","blue","green","red","blue","green"],
                   'sizes':["small","medium","large","large","small","medium"],
                   'Material':['wood','metal', 'plastic','metal','plastic','wood']
                  })

In [28]:
df

   color   sizes Material
0    red   small     wood
1   blue  medium    metal
2  green   large  plastic
3    red   large    metal
4   blue   small  plastic
5  green  medium     wood

In [29]:
label = LabelEncoder()

In [30]:
labeled =pd.DataFrame(label.fit_transform(df[['color']]),columns=['color_encoded'])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [31]:
labeled

   color_encoded
0              2
1              0
2              1
3              2
4              0
5              1

In [26]:
pd.concat([df,labeled],axis=1)

   color   sizes Material  color_encoded
0    red   small     wood              2
1   blue  medium    metal              0
2  green   large  plastic              1
3    red   large    metal              2
4   blue   small  plastic              0
5  green  medium     wood              1

In [32]:
# categorical feature color is converted into numerical feature

In [37]:
# ANS 5:
df2 = pd.DataFrame({
          'Age': [23,43,67,23,37,25,34], 
          'Income': [20000,150000,120000,40000,200000,50000,20000],
          'Education': ['Btech','MBA',"B.COM","M.COM","MS","Gradute","BCA"]
})

In [38]:
df2

   Age  Income Education
0   23   20000     Btech
1   43  150000       MBA
2   67  120000     B.COM
3   23   40000     M.COM
4   37  200000        MS
5   25   50000   Gradute
6   34   20000       BCA

In [39]:
df2.cov()

/tmp/ipykernel_70/3825087732.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.cov()

                  Age        Income
Age        245.666667  6.000000e+05
Income  600000.000000  5.061905e+09

In [41]:
df2.corr()

/tmp/ipykernel_70/1778878097.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.corr()

             Age    Income
Age     1.000000  0.538048
Income  0.538048  1.000000

In [43]:
# ANS 6:
# I will use ordinal encoding technique for education level
#  education leval  feature contains (High School/Bachelor's/Master's/PhD)
#  as it follows a hirarchial order from school to phd

# Ordinal Encoding assigns a unique integer value to each category in a categorical variable,
# based on their order or ranking. 
# It is suitable when there is an inherent order or hierarchy among the categories

# for Gender i will use one hot encoding technique
# because both are unique features and should be encoded equally

# for  employment status i will use label encoding because
# each level is different and should be encoded with different integer values

In [44]:
# ANS 7 :
df3 = pd.DataFrame({
    'Temperature': [25, 28, 30, 22, 26],
    'Humidity': [40, 45, 50, 35, 42],
    'Weather Condition': ['Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Cloudy'],
    'Wind Direction': ['North', 'South', 'East', 'West', 'South']
})

In [45]:
df3

   Temperature  Humidity Weather Condition Wind Direction
0           25        40             Sunny          North
1           28        45            Cloudy          South
2           30        50             Rainy           East
3           22        35             Sunny           West
4           26        42            Cloudy          South

In [46]:
df3.cov()

/tmp/ipykernel_70/3239520066.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df3.cov()

             Temperature  Humidity
Temperature          9.2      16.9
Humidity            16.9      31.3

In [47]:
df3.corr()

/tmp/ipykernel_70/3136175663.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df3.corr()

             Temperature  Humidity
Temperature     1.000000  0.995911
Humidity        0.995911  1.000000